.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
    border-color: #838383;
    
}

.header {
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #ffffff;
   

}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
}

.nav__links {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
 }

 .nav__link {
    color: #000;
    text-decoration: none;
 }

 .nav__link:hover {
   color: #2F80ED;
   transition: color 0.2s ease-in;

 }

 .header__title {
    max-width: 729px;
    margin: 183px 0 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
 }

 .header__discription {
    max-width: 683px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0;
 }

 .header__image {
   display: flex;
   position: absolute;
   height: 568px;
   width: 646px;
   top: 124px;
   right: 5px;
   z-index: 1;
   

   

 }

 .header__span-accent {
    display: block;
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
 }

 .header__footer {
   display: flex;
   justify-content: space-between;
    margin-top: auto;
    color: #6f6f6f;
    
 }

 .header__paragraph {
     margin: 0;
     font-family: "Inter";
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 20px;
    
 }

 .recipes {
    padding: 100px 80px 215px;
    background-image: url(/images/background_recipes.svg);
    background-color: #0a2750;
    background-repeat: no-repeat;
    background-size: cover;
    

   
    
 }

 .recipes__title {
   max-width: 580px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #fff;
 }

 .recipes__subtitle {
   max-width: 438px;
   font-family: "Noto Serif";
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px;
   color: #fff;
 
   

 }

 .recipes__videos {
    display: flex;
    gap: 40px;
    justify-content: center;
   
 }

 .recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
 }

.reservation {
   background-image: url(/images/background_reservation.svg);
   background-color: #D9E7FF;
   background-repeat: no-repeat;
   background-size: cover;

}

.reservation__form {
   border: none;
   margin: auto;
   max-width: 385px;
   padding: 80px 0 0;
   width: 100%;
}

.reservation__title {
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 44px;
   line-height: 52px;
   padding: 100px 0 0;
   margin: auto;
   text-align: center;
   
   
}

.reservation__form {
   max-width: 385px;
   width: 100%;
   
   
  
}

.form__input {
   border-radius: 4px;
   max-width: 385px;
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px;
   color: #838383;
   padding: 0;
   height: 60px;

   

   
}

.form__label {
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;  
   padding-bottom: 8px;
   padding-top: 32px;
       
}

.form__button {
   border-radius: 4px;
   opacity: 100%;
   background-color: #2F80ED;
   font-family: Inter;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   transition: transform .3s;
   color: #ffffff;
   height: 60px;
   margin-top: 32px;
}

.form__button:hover {
   opacity: 70%;
   

}

.form__fieldset {
   display: flex;
   flex-direction: column;
   padding: 0;
   border: 0;

} 

.form__checkbox {
   margin-bottom: 120px;
   padding-top: 32px;
}

.form__checkbox[type="checkbox"] {
   border-radius: 2px;
   min-width: 20px;
   min-height: 20px;
   margin-right: 12px;
 
   
}

.form__checkbox[for="terms"] {
   display: inline;
   margin: auto;
}

.menu {
   background-image: url(/images/background_menu.svg);
   background-color: #fff;
   background-repeat: no-repeat;
   background-size: cover;
  
}

.menu__title {
   max-width: 780px;
   text-align: center;
   margin: 100px auto 24px;
   font-family: "Inter"; 
   font-style: normal; 
   font-weight: 500; 
   font-size: 44px; 
   line-height: 52px;

}

.menu__subtitle {
   max-width: 780px;
   text-align: center;
   margin: 0 auto 100px;
   font-family: "Noto Serif"; 
   font-style: normal; 
   font-weight: normal; 
   font-size: 20px; 
   line-height: 30px;

}

.menu__cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 100px;
  
}

.card {
   display: flex;
   flex-direction: column;
   max-width: 540px;
   width: 100%;
   margin: 0 auto;
}

.card__title {
   margin-bottom: 32px;
   margin-top: 0;
   font-family: "Inter"; 
   font-style: normal; 
   font-weight: bold; 
   font-size: 20px; 
   line-height: 30px;
}

.card__list {
   list-style: none;
   padding-left: 0;
}


.card__list-item {
   display: flex;
   width: 100%;
   align-items: baseline;
   padding-bottom: 16px;
   font-family: "Noto Serif"; 
   font-style: normal; 
   font-weight: normal; 
   font-size: 16px; 
   line-height: 20px;
   list-style-type: none;
   margin: 0;
}

.card__list-divider {
   border-bottom: 1px solid #838383;
   flex-grow: 1;
   display: flex;
   justify-content: end;

   
}

.card__list-item:last-of-type {
   margin-bottom: 0;
}

.about {
   background-color: #0a2850;
   overflow: hidden;
   position: relative;
   box-sizing: border-box;
   display: flex;

   
}

.about__paragraph {
   font-family: "Noto Serif";
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 30px; 
   color: #fff;
   margin: 0;
}

.about__title {
   font-family: "Inter";
   font-style: normal;
   font-weight: 500;
   font-size: 44px;
   line-height: 52px;
   color: #fff;
   max-width: 251px;
   margin: 0;
   z-index: 2;
   margin-top: 100px;
   margin-left: 80px;
}




.about__content {
   max-width: 660px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 119px 80px 173px auto;

}

.about__circle {
   background-color: #2F80ED;
   width: 426px;
   height: 426px;
   position: absolute;
   display: flex;
   top: -152px;
   left: -129px;
   z-index: 0;
   border-radius: 50%;

}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}


@keyframes pulsate {
0% {
   opacity: 0;
}
50% {
   opacity: 0.6;
   
}
100% {
   transform: scale(1.35);
   opacity: 0.6;
}  
}


.footer {
background:  linear-gradient(180deg, #0A2850 0%, #071931 100%);
color: #fff;
padding: 60px 100px 60px 80px;
box-sizing: border-box;
width: 100%;
}

.footer__logo {
   width: 105px;
   height: 39px;

}

.footer__columns {
   display: flex;
   justify-content: space-between;
 }


   
  


.footer__list-item {
   margin-bottom: 16px;
  

}

.footer__column_footer_social-heading {
   font-family: "Inter";
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 20px;
   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;

}

.footer__list {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

.footer__social-icon {
   font-family: "Inter";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   width: 16px;
   height: 16px;
   margin-right: 10px;
   
}

.footer__copyright {
   font-family: "Inter";
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   margin: 108px 0 0;

}

.footer__list-item:last-of-type {
   margin-bottom: 0;
 }

 .footer__social-link {
   color: #fff;
 }

 .footer__social-link:hover {
   color: #c1c1c1;
   transition: color 0.1s ease-in-out;
 }
 
